/* General */
body
{
	background-image: url('/images/backgroundGrad.jpg');
	background-repeat: repeat-x;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	text-align: center;
}


/* Full Page */

#contentMain
{
	margin: 0px auto 0px auto;
	padding: 0px 0px 0px 0px;
	width: 980px;
	text-align: left;
}

/* Header */

#contentMain #header
{
	float: left;
	height: 90px;
	width: 980px;
	position:relative;
}

#contentMain #header #homeLink
{
	background-image: url('/uploadedImages/Reusable_Contents/NHGPlogo.png');
	background-position: left bottom;
	background-repeat: no-repeat;
	display: block;
	float: left;
	height: 90px;
	overflow: hidden;
	text-indent: -1000px;
	width: 238px;
}

/* Search box */

#contentMain #header #searchBox
{
	float: left;
	height: 67px;
	padding: 0px 0px 0px 270px;
	width: 135px;
}

#contentMain #header #searchBox #searchBoxInput
{
	border: 1px solid #adadad;
	float: left;
	height: 18px;
	margin: 28px 0px 0px 4px;
	width: 102px;
}

#contentMain #header #searchBox .withBackground
{
	background-image: url('/images/search_background.jpg');
	background-position: left center;
	background-repeat: no-repeat;
}


#contentMain #header #searchBox #searchBoxButton
{
	background-image: url('/images/search_go.png');
	background-color: transparent;
	border: 0px;
	float: left;
	height: 17px;
	width: 17px;
	overflow: hidden;
	text-indent: -1000px;
	font-size: 12px;
	margin: 28px 0px 0px 0px;
	cursor: pointer;
}

/* Top menu */

#contentMain #header #topMenu
{
	display:block;
	position:absolute;
	top:0px;
	right:0px;
}

/* Main Menu */

#contentMain #mainMenu
{
	background-image: url('/images/menuBackground.jpg');
	background-repeat: no-repeat;
	behavior: url('/js/pie/PIE.htc');
	border-radius: 12px;
	float: left;
	margin: 0 0 27px 0;
	position:relative;
	width: 980px;
	z-index:2;
}

#contentMain #mainMenu div.ekmenu_submenu_items 
{
    text-align: center;
}

#contentMain #mainMenu ul
{
	height: 27px;
	list-style: none;
	margin: 0px auto 0px auto;
	padding: 0px 0px 0px 0px;
}

#contentMain #mainMenu ul li
{
    display: inline-block;
	overflow: hidden;
}

#contentMain #mainMenu ul li:before
{
	color: white;
	content: '|';
	font-weight: bold;
	line-height: 27px;
}

#contentMain #mainMenu ul li:last-child:before
{
	content: '';
}

#contentMain #mainMenu ul li div
{
	display: block;
	float: left;
}

#contentMain #mainMenu ul li a
{
	color: white;
	display: block;
	float: left;
	font-weight: bold;
	line-height: 27px;
	padding: 0px 10px 0px 10px;
}

#contentMain #mainMenu ul li .ekmenu_link_selected
{
	color: #7A97D1;
}

#contentMain #mainMenu ul li div.ekmenu_submenu_items ul li:before
{
	content: '';
}

/* Added by Rick, for sub menu*/
#contentMain #mainMenu ul li ul
{	
	list-style-type:none;	
	display: none;
}

#contentMain #mainMenu ul li .ekmenu_submenu_items
{
	top: 27px;		
	position:absolute;
	width: 210px;
	z-index:3000;
	
}

#contentMain #mainMenu ul li .ekmenu_submenu_items_hidden
{
	top: 27px;		
	position:absolute;
	width:210px;
	z-index:3000;
}

#contentMain #mainMenu ul li ul li
{
	clear: left;
	background: #FFA042;
	width: 100%;
	border-bottom: 1px solid white;
}

#contentMain #mainMenu ul li ul li:before
{
	content: '';
}

#contentMain #mainMenu ul li ul li a
{	
	border: none;
	display: block;
	width: 100%;
	white-space: nowrap
}

#contentMain #mainMenu ul li ul li a:hover
{
	color: #7A97D1;
	font-weight: bold;
}


/* Footer */

#contentMain #footer
{
	background-image: url('/images/footerTop.jpg');
	background-repeat: no-repeat;
	float: left;
	margin: 20px 0px 0px 0px;
	width: 980px;
}

#contentMain #footer #affilations
{
	background-image: url('/images/footerLine.jpg');
	background-position: bottom center;
	background-repeat: no-repeat;
	padding: 0px 0px 10px 0px;
}

#contentMain #footer #copyRight
{
	float: left;
	margin: 20px 0px 0px 0px;
	color: #676767;
	font-size: 91%;
}

#contentMain #footer #footerMenu
{
	color: #F68B20;
	float: left;
	margin: 20px 0px 0px 10px;
	color: #676767;
	font-size: 91%;
}

#contentMain #footer #footerMenu a
{
	color: #F68B20;
	text-decoration: none;
}

#contentMain #footer #footerMessage
{
	height: 40px;
	background-image: url('/images/memberLogo.jpg');
	background-position: bottom right;
	background-repeat: no-repeat;
}

/* Content */

#contentMain #content
{
	float: left;
	width: 980px;
}

/* Right bar for related links */

#relatedLinks
{
	float: right;
	width: 200px;
}

#col2NavigateLinks
{
	margin: 0;
	padding: 5px 10px 10px 10px;
	clear: both;
	width: 755px;
}
#col3NavigateLinks
{
	margin: 0 0 0 195px;
	padding: 5px 0 10px 0;
	clear: both;
	width: 560px;
}
#col2NavigateLinks #back,
#col3NavigateLinks #back
{
	float: left;
	display:block;
}
#col2NavigateLinks #top,
#col3NavigateLinks #top
{
	float: right;
	display:block;
}

#help, #knowMore
{
	background-color: #e8ebf0;
	behavior: url('/js/pie/PIE.htc');
	border-radius: 15px;
	margin: 0 0 20px 0;
	padding: 0 0 0 0;
}

#help .separator, #knowMore .separator
{
	background-color: #E2E2E0;
	height: 2px;
	margin: 5px 0 5px 0;
	width: 180px;
}