/*** General, so will appear correctly in editor. ***/

body
{
	font-family: Arial, Verdana, sans-serif;
	font-size: 12px;
}

select, input, textarea
{
	font-family: Arial, Verdana, sans-serif;
	font-size: 12px;
}

html, body, div, form
{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

hr
{
	margin: 0;
	border: 0;
	color: #CCCCCC;
	background-color: #CCCCCC;
	height: 1px;
	width: 100%;
}

/* Headers */

h1
{
	color: #1279b4;
	font-size: 200%;
	margin: 0;
	padding: 0;
}

h2
{
	color: #1279b4;
	font-size: 160%;
	margin: 0;
	padding: 0;
}

h3
{
	color: #1279b4;
	font-size: 120%;
	margin: 0;
	padding: 0;
}

/* Links */

a
{
	color: #1279b4;
	text-decoration: none;
}

a:hover
{
	text-decoration: underline;
}

a img
{
	border: none;
}

/* Tables */

table
{
	border-spacing: 0;
}



/*** User accessable classes ***/

.relatedLink
{
	background: url("/images/arrowbullet.png");
	background-repeat: no-repeat;
	background-position: 10px 5px;
	margin: 0 0 0 0;
	padding: 0 0 10px 20px;
	text-decoration: none;
	font-weight: bold;
	color: #7e7e7e;
	display: block;
}

.knowMoreLink
{
	margin: 0 0 0 0; 
	/*padding: 0 0 10px 0;*/
	padding: 0;
	text-decoration:none;
	font-weight: bold;
	color: #7e7e7e;
	font-size: 12px;
	display:block;
}
#relatedLinks h3 { padding-top: 10px; }

.asterisk
{
	color:#FF9329;
}

.footnote
{
	font-size: 90%;
	font-style: italic;
}

.highlightBox
{
	background-color: #FFE1C6;
	margin: 10px 0px 10px 0px;
	padding: 10px;
}

.orangeTable
{
	background-color: #FFF7EF;
}

.blueTable
{
	background-color: #EFF7FF;
}

.h3-OrangeColor
{
	color: #FF9329;
	font-size: 120%;
	margin: 0;
	padding: 0;
}