﻿#frontpage #frontpageFlash
{
	float: left;
	height: 288px;
	margin: 0px 0px 0px 0px;
	overflow: hidden;
	padding: 0px 0px 0px 0px;
	width: 654px;
	z-index: -1;
}

#frontpage #quickLinks
{
    background-image: url('/images/quicklinks_bg.png');
    background-repeat: no-repeat;
    float: left;
    height: 348px;
    overflow: hidden;
    width: 326px;
}

#frontpage #quickLinks h2
{
    margin: 10px 0 3px 15px;
    font-size: 12pt;
    color: white;
}

/* Find a polyclinic near you. */

#frontpage #quickLinks #findPolyclinic 
{
    background: url('/images/quicklinks_button_bg.png') no-repeat;
    width: 290px;
    height: 45px;
    margin-left: 20px;
}

#frontpage #quickLinks #findPolyclinic img
{
    float: left;
    width: 47px;
    height: 38px;
    margin: 5px;
    margin-top: 4px;
}

#frontpage #quickLinks #findPolyclinic b
{
    display: inline-block;
    margin-top: 3px;
}

#frontpage #quickLinks #findPolyclinic select
{
    display: inline-block;
    margin-top: 2px;
    width: 200px;
}

/* See me in line */

#frontpage #quickLinks #seeMeInLine
{
    background: url('/images/quicklinks_button_bg.png') no-repeat;
    display: block;
    width: 290px;
    height: 45px;
    margin-left: 20px;
    margin-top: 4px;
}

#frontpage #quickLinks #seeMeInLine img
{
    float: left;
    width: 47px;
    height: 38px;
    margin: 5px;
}

#frontpage #quickLinks #seeMeInLine b
{
    display: inline-block;
    width: 210px;
    margin: 15px;
    margin-left: 0;
    color: black;
}

/* Online Appointment System */

#frontpage #quickLinks #onlineAppointmentSystem
{
    background: url('/images/quicklinks_button_bg.png') no-repeat;
    display: block;
    width: 290px;
    height: 45px;
    margin-left: 20px;
    margin-top: 4px;
}

#frontpage #quickLinks #onlineAppointmentSystem img
{
    float: left;
    width: 47px;
    height: 38px;
    margin: 5px;
    margin-top: 4px;
}

#frontpage #quickLinks #onlineAppointmentSystem b
{
    display: inline-block;
    width: 200px;
    margin: 15px;
    margin-left: 0;
    color: black;
}

/* List of CHAS Clinics */
#frontpage #quickLinks #listOfCHASClinics
{
    background: url('/images/quicklinks_button_bg.png') no-repeat;
    display: block;
    width: 290px;
    height: 45px;
    margin-left: 20px;
    margin-top: 4px;
}

#frontpage #quickLinks #listOfCHASClinics img
{
    float: left;
    width: 47px;
    height: 38px;
    margin: 5px;
    margin-top: 4px;
}

#frontpage #quickLinks #listOfCHASClinics b
{
    display: inline-block;
    width: 200px;
    margin: 15px;
    margin-left: 0;
    color: black;
}

/* Our services list */

#frontpage #quickLinks #ourServices h2
{
    margin-top: 7px;
    margin-bottom: 0;
}

#frontpage #quickLinks #ourServices ul
{
    list-style-image: url("/images/bullet_arrow_white.png");
    margin: 0;
    padding-left: 33px;
}

#frontpage #quickLinks #ourServices ul li
{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	text-indent: 0px;
}

#frontpage #quickLinks #ourServices ul li a
{
	color: White;
	font-weight: bold;
}
#frontpage #quickLinks #ourServices ul li span
{
	display:none;
}

/* 3 columns */

#frontpage #frontpageContent
{
	background-image: url('/images/frontpage_content_background.jpg');
	clear: left;
	float: left;
	margin: 10px 0px 10px 0px;
	width: 980px;
	
}
#frontpage #frontpageCol1
{
	float: left;
	margin: 0px 0px 0px 0px;
	width: 326px;
}

#frontpage #frontpageCol2
{
	float: left;
	margin: 0px 0px 0px 0px;
	width: 326px;
}

#frontpage #frontpageCol3
{
	float: left;
	margin: 0px 0px 0px 0px;
	width: 326px;
}

#frontpage .frontpageBlock
{
	margin: 5px 5px 5px 5px;
	padding: 5px 5px 5px 5px;
}

#frontpage #announcements, #frontpage #upcomingEvents, #frontpage #downloadWallpaper
{
	border-bottom: 1px solid #E5E5E3;
}

#frontpage .frontpageBlock .frontpageBlockHeader
{
	color: #1279B4;
	font-size: 133%;
	padding: 0px 0px 10px 0px;
}

/* Announcements */

#frontpage #announcements .frontpageBlockHeader
{
	background-image: url('/uploadedImages/Reusable_Contents/header_announcements.png');
	background-repeat: no-repeat;
	background-position: left center;
	height: 28px;
	text-indent: -10000px;
	width: 309px;
}

#frontpage #announcements ul
{
	list-style: none;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#frontpage #announcements ul li .Title
{
	background-image: url('/images/bullet_plus.jpg');
	background-repeat: no-repeat;
	background-position: left center;
	cursor:pointer;
	font-weight: bold;
	padding: 2px 0px 0px 20px;
	margin: 0px 0px 3px 0px;
	text-decoration: none;
}

#frontpage #announcements ul li .Title:hover
{
	text-decoration: underline;
}

#frontpage #announcements ul li .Teaser,
#frontpage #announcements ul li .QuickLink,
#frontpage #announcements ul li .HyperLink,
#frontpage #announcements ul li .DateModified,
#frontpage #announcements ul li .LastEditorFname,
#frontpage #announcements ul li .LastEditorLname
{
	display: none;
}

#frontpage #announcements ul li .Teaser
{
	padding: 0px 0px 0px 20px;
	margin: 0px 0px 0px 0px;
}

#frontpage #announcements ul li .Teaser p
{
	padding: 0px 0px 10px 0px;
	margin: 0px 0px 0px 0px;
}

/* Upcoming Events */

#frontpage #upcomingEvents
{
	padding: 5px 5px 30px 5px;
}

#frontpage #upcomingEvents .frontpageBlockHeader
{
	background-image: url('/uploadedImages/Reusable_Contents/header_upcomeevents.png');
	background-repeat: no-repeat;
	background-position: left center;
	height: 28px;
	text-indent: -10000px;
	width: 309px;
}

/* Quick poll */

#frontpage #quickpoll
{
	float: left;
	width: 298px;
}

#frontpage #quickpoll #ctl00_bodyContent_QuickPollForm
{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#frontpage #quickpoll #ctl00_bodyContent_QuickPollForm p
{
	margin: 3px 0px 3px 0px;
	padding: 0px 0px 0px 0px;
}

#frontpage #quickpoll #ctl00_bodyContent_QuickPollForm .pollSubmit
{
	background-image: url('/images/button_vote.jpg');
	border: 0px;
	float: right;
	height: 22px;
	width: 61px;
	overflow: hidden;
	text-indent: -10000px;
	font-size: 1000px;
	cursor: pointer;
}

#frontpage #quickpoll #ctl00_bodyContent_QuickPollForm .tblreport thead th
{
	background-color: inherit;
	border-bottom: none;
	color: inherit;
	font-family: inherit;
	font-weight: inherit;
	line-height: inherit;
	padding: 0px 0px 5px 0px;
	text-align: left;
	text-decoration: none;
}

#frontpage #quickpoll #ctl00_bodyContent_QuickPollForm .tblreport tbody
{
	font-family: inherit;
	font-weight: inherit;
	line-height: inherit;
	background-color: #e5e5e3;
}

#frontpage #quickpoll #ctl00_bodyContent_QuickPollForm .tblreport .optiontextcell
{
	font-family: inherit;
	font-weight: inherit;
	line-height: inherit;
	padding: 6px 10px 0px 10px;
}

#frontpage #quickpoll #ctl00_bodyContent_QuickPollForm .tblreport .barcell
{
	padding: 0px 10px 10px 10px;
}

#frontpage #quickpoll #ctl00_bodyContent_QuickPollForm .tblreport .barcell .resultbar
{
	background-color: #ff9f3f;
}

#frontpage #quickpoll #ctl00_bodyContent_QuickPollForm .refreshlink
{
	font-family: inherit;
	font-weight: inherit;
	line-height: inherit;
}

#frontpage #quickpoll #ctl00_bodyContent_QuickPollForm a
{
	background-image: url('/images/button_refresh.jpg');
	background-repeat: no-repeat;
	display: block;
	float: right;
	height: 22px;
	width: 80px;
	overflow: hidden;
	text-indent: -10000px;
}

/* Know Your Health */

#frontpage #knowHealth .frontpageBlockHeader
{
	background-image: url('/uploadedImages/Reusable_Contents/header_knowyourhealth.png');
	background-repeat: no-repeat;
	background-position: left center;
	height: 28px;
	text-indent: -10000px;
	width: 309px;
}

/* Send E-Cards */

#frontpage #ecards .frontpageBlockHeader
{
	background-image: url('/uploadedImages/Reusable_Contents/header_sendecards.png');
	background-repeat: no-repeat;
	background-position: left center;
	height: 28px;
	text-indent: -10000px;
	width: 309px;
}

/* Newsletter */

#frontpage #newsletter .frontpageBlockHeader
{
	background-image: url('/uploadedImages/Reusable_Contents/header_quicklinks.png');
	background-repeat: no-repeat;
	background-position: left center;
	height: 28px;
	text-indent: -10000px;
	width: 309px;
}