/* Main title for the page */

#orangeBar
{
	behavior: url('/js/pie/PIE.htc');
	border-radius: 12px;
	margin: 0px 0px 20px 0px;
}

h1.titlebar {
    color: white;
    font-weight: normal;
    background: #ff8810;
    padding: 9px 20px;
    font-size: 28px;
    border-radius: 10px;
    margin-bottom: 10px;
}

/* Used for setting major columns */

.content2
{
	display: block;
	float: left;
	width: 755px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 40px 10px;
}

.content3
{
	display: block;
	float: left;
	width: 560px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 40px 0px;
}

.content3side
{
	display: block;
	float: left;
	width: 170px;
	margin: 0px 25px 0px 0px;
	padding: 0px 0px 0px 0px;
}

/* For internal columns in content */
.contentBlock ul
{
	margin: 0 0 0 35px;
	padding: 0;
}
.contentBlock ul li
{
	padding: 3px 0 3px 0;
}
.contentBlock ul li.relatedLink
{
	padding: 3px 0 13px 20px;
}
.contentBlock ul li ul
{
	margin: 5px 0 0 35px;
	padding: 0;
}
.contentBlock ul li ul li
{
	padding: 3px 0 3px 0;
}
.contentBlock ul li ul li ul
{
	margin: 5px 0 0 35px;
	padding: 0;
}
.contentBlock ul li ul li ul li
{
	padding: 3px 0 3px 0;
}
.contentBlock ol
{
	margin: 5px 0 0 35px;
	padding: 0;
}
.contentBlock ol li
{
	padding: 3px 0 3px 0;
}
.contentBlock ol li ul
{
	margin: 5px 0 0 35px;
	padding: 0;
}
.contentBlock ol li ul li
{
	padding: 3px 0 3px 0;
}
.contentBlock h1
{
	margin: 0 0 10px 0;
}

.col2Sizing
{
	float: left;
	width: 50%;
}

.col3Sizing
{
	float: left;
	width: 33%;
}

/* Page specific */

/** select box to chaneg views **/

#page_ourservices_listbycategories_aspx #categoryBanner, #page_ourservices_listbypolyclinics_aspx #categoryBanner
{
	background-image: url('/images/selCategoryBackground.jpg');
	background-repeat: no-repeat;
  	behavior: url('/js/pie/PIE.htc');
    	border-radius: 12px;
	height: 48px;
	width: 740px;
	overflow: hidden;
	text-indent: -1000px;
}

#page_ourservices_listbycategories_aspx #selectView, #page_ourservices_listbypolyclinics_aspx #selectView
{
	margin: 14px 0px 0px 1070px;
	width: 150px;
}

#page_ourservices_listbycategories_aspx #serviceListByCategories
{
	padding: 0px 5px 0px 5px;
}
#page_ourservices_listbycategories_aspx #serviceListByCategories h3
{
	margin: 15px 0 0 0;
}

#page_ourservices_listbycategories_aspx #serviceListByCategories ul
{
	margin: 5px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	list-style: none;
}

#page_ourservices_listbycategories_aspx #serviceListByCategories ul li
{
	background: url("/images/bullet_arrow_orange.jpg");
	background-repeat: no-repeat;
	background-position: 0 5px;
	padding: 2px 0 5px 10px;
}

#page_ourservices_listbycategories_aspx #serviceListByCategories ul li a
{
	color: Black;
}

#page_ourservices_aspx #serviceList
{
	list-style: none;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#page_ourservices_aspx #serviceList
{
	border-top: 1px dotted black;
}

#page_ourservices_aspx #serviceList li a
{
	border-bottom: 1px dotted black;
	display: block;
	font-weight: bold;
	font-size: 13px;
	padding: 8px 0px 8px 0px;
}


#page_ourservices_aspx #serviceList li ul
{
	list-style: none;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#page_ourservices_aspx #serviceList li ul li a
{
	background-image: url('/images/sidebar_bullet_arrow.gif');
	background-position: 10px 12px;
	background-repeat: no-repeat;
	display: block;
	color: Black;
	font-weight: normal;
	font-size: 12px;
	padding: 8px 0px 8px 25px;
}

#page_ourservices_aspx #serviceList .ekmenu_link_selected
{
	background-color: #ffe6cb;
}

/* Our Services - List By PolyClinics */
#page_ourservices_listbycategories_aspx #serviceListByPolyClinics,
#page_ourclinics_aspx #serviceListByPolyClinics
{
	padding: 0px 5px 0px 5px;
	width: 100%;
}
#page_ourservices_listbycategories_aspx #serviceListByPolyClinics h3,
#page_ourclinics_aspx #serviceListByPolyClinics h3
{
	margin: 15px 0 0 0;
}

#page_ourservices_listbycategories_aspx #serviceListByPolyClinics ul,
#page_ourclinics_aspx #serviceListByPolyClinics ul
{
	list-style: none;
	margin: 5px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
#page_ourservices_listbycategories_aspx #serviceListByPolyClinics ul li,
#page_ourclinics_aspx #serviceListByPolyClinics ul li
{
	background: url("/images/bullet_plus.jpg");
	background-repeat: no-repeat;
	background-position: left top;
	padding: 0 0 3px 18px;
	cursor: pointer;
}
#page_ourservices_listbycategories_aspx #serviceListByPolyClinics ul li ul li,
#page_ourclinics_aspx #serviceListByPolyClinics ul li ul li
{
	background: url("/images/bullet_dot_orange.jpg");
	background-position: 5px 3px;
	background-repeat: no-repeat;
	padding: 0 0 5px 18px;
}
#page_ourservices_listbycategories_aspx #serviceListByPolyClinics ul li div div .ekmenu_submenu_items,
#page_ourclinics_aspx #serviceListByPolyClinics ul li div div .ekmenu_submenu_items
{
	display: none;
}
#page_ourservices_listbycategories_aspx #serviceListByPolyClinics ul li div div .ekmenu_submenu_items_hidden,
#page_ourclinics_aspx #serviceListByPolyClinics ul li div div .ekmenu_submenu_items_hidden
{
	display: none;
}

#page_ourclinics_aspx #clinicList, #page_smile_aspx #smileList, #page_healthquizzes_aspx #healthQuizzesList
{
	list-style: none;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	border-top: 1px dotted black;
}
#page_ourclinics_aspx #clinicList ul, #page_smile_aspx #smileList ul, #page_healthquizzes_aspx #healthQuizzesList ul
{
	margin: 0;
	padding: 0;
	list-style: none;
}
#page_ourclinics_aspx #clinicList ul li a, #page_smile_aspx #smileList ul li a, #page_healthquizzes_aspx #healthQuizzesList ul li a
{
	background: url("/images/sidebar_bullet_arrow.gif");
	background-repeat: no-repeat;
	background-position: 0 10px;
	padding: 5px 0px 5px 15px;
	border-bottom: dotted 1px black;
	display: block;
}
#page_ourclinics_aspx #clinicList .ekmenu_link_selected, #page_smile_aspx #smileList .ekmenu_link_selected, #page_healthquizzes_aspx #healthQuizzesList .ekmenu_link_selected
{
	background-color: #ffe6cb;
}
#page_ourclinics_aspx #serviceListByPolyClinics .showLink
{
	background-image: url('/images/show_me_button.jpg');
	background-repeat: no-repeat;
	border: 0px;
	display: block;
	float: right;
	height: 22px;
	width: 85px;
	overflow: hidden;
	text-indent: -1000px;
	font-size: 1000px;
}

#page_smile_aspx iframe
{
	border: none;
	height: 458px;
	width: 532px;
}

/* Media Articles & Releases */
#page_media_aspx #content ul
{
	list-style: none;
	margin: 0 0 0 3%;
}
#page_media_aspx #content ul li
{
	padding: 2px 0 10px 8px;
}
#page_media_aspx #content ul li ul
{
	list-style: none;
	/*margin: 10px 10px 0px 10px;*/
}
#page_media_aspx #content ul li ul li
{
	background: url("/images/bullet_dot_orange.jpg");
	background-position: left 6px;
	background-repeat: no-repeat;
	/*padding: 0 0 0px 18px;*/
}
#page_media_aspx #content ul li ul li ul
{
	
}
#page_media_aspx #content ul li ul li ul li
{
	
}

/* Newsletter */
#page_newsletter_list_aspx #content ul
{
	list-style: none;
	margin: 0 0 5% 5%;
}
#page_newsletter_list_aspx #content ul li ul
{
	list-style: none;
	margin: 10px 10px 10px 10px;
}
#page_newsletter_list_aspx #content ul li ul li
{
	background: url("/images/bullet_dot_orange.jpg");
	background-position: 8px 5px;
	background-repeat: no-repeat;
	padding: 0 0 10px 18px;
}
#page_newsletter_list_aspx #content ul li ul li a
{
	color: #7E7E7E;
	font-weight: bold;
}

.blueHeaderRow
{
	background-color: #7093B8;
	color: White;
}

.blueOddRow
{
	background-color: #C7E4FF;
}

.blueEvenRow
{
	background-color: #EFF7FF;
}

.orangeHeaderRow
{
	background-color: #FF9329;
	color: White;
}

.orangeOddRow
{
	background-color: #FFE1C6;
}

.orangeEvenRow
{
	background-color: #FFF7EF;
}

.radioButtonList
{
	list-style:none;
	margin: 0;
	padding: 0px 30px 0px 30px;
}
.radioButtonList li
{
	float: left;	
}

.error
{ 
	display:block;
	color:Red;
}

/** faq style, expand and retract **/
.expandHead
{
	cursor: pointer;
}

.expandHead h2, .expandHead h3
{
	background-image: url("/images/bullet_plus.jpg");
	background-position: left center;
	background-repeat: no-repeat;
	cursor: pointer;
	margin: 20px 0px 10px 0px;
	padding: 0px 0px 0px 20px;
}

.plusIcon li
{
    background-image: url("/images/bullet_plus.jpg");
    background-repeat: no-repeat;
    cursor: pointer;
    list-style-position: inside;
    padding: 0px 0px 15px 25px !important;
}

.plusIcon li li
{
	background-image: none;
	cursor: auto;
	list-style-position: outside;
	margin: 0px 0px 0px 0px;
	padding: 10px 0px 10px 10px;
}

.removeNumbering
{
	list-style-type: none;
}

.expandableTable, .expandableTable tr, .expandableTable td
{
	margin: 0;
	padding: 0;
	width: 100%;
}

.expandableTable .head
{
	background-image: url("/images/bullet_plus.jpg");
	background-position: left center;
	background-repeat: no-repeat;
	cursor: pointer;
	padding-left: 20px;
}

#page_faq_aspx #faqListByCategory .faqQuestionList
{
	list-style: none;
	margin:0;
}

#page_faq_aspx #faqListByCategory .faqQuestionTitle
{
	background: url("/images/bullet_plus.jpg");
	background-position: left top;
	background-repeat: no-repeat;
	cursor: pointer;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 10px 20px;
}

/** health quizzes **/
.quiz_answer 
{
	display: none;
}

/** know health 4 icons **/
#bmi_calculator, #smoking_calculator, #calorie_calculator, #health_quizzes
{
	display: block;
	float: left;
	padding: 0px 15px 0px 0px;
}

/** paging **/
.paging
{
	list-style-type: none;
	padding: 0px 0px 45px 0px;
	width: 100%;
}

.paging li
{
	border: 2px solid orange;
	display: block;
	float: left;
	height: 22px;
	margin: 0px 5px 0px 0px;
	padding: 2px 2px 2px 2px;
	text-align: center !important;
	width: 20px;
}

.paging li a
{
	cursor: pointer;
	display: block;
	height: 22px;
	margin: -2px -2px -2px -2px;
	padding: 2px 2px 2px 2px;
	width: 20px;
}

.paging li span
{
	background-color: #FFE1C6;
	display: block;
	font-weight: bold;
	font-style: italic;
	height: 22px;
	margin: -2px -2px -2px -2px;
	padding: 2px 2px 2px 2px;
	width: 20px;
}

/** ah_team **/
.ah_team
{
	display: block;
	float: left;
	padding: 10px 10px 20px 10px;
	position: relative;
	width: 950px;
}

#ah_status, #ah_category, #ah_filter, #ah_check_all, #ah_uncheck_all, #ah_delete_all
{
	margin: 0px 10px 0px 0px;
}

#ah_filter
{
	margin: 0px 50px 0px 0px;
}

.ah_counter
{
	display: block;	
	left: 10px;
	position: absolute;
	top: 10px;
}

.ah_checkbox
{
	display: block;	
	left: 30px;
	position: absolute;
	top: 8px;
}

.ah_from, .ah_status, .ah_category, .ah_question, .ah_answer, .ah_submission
{
	clear: left;
	display: block;
	float: left;
	font-weight: bold;
	padding: 0px 15px 10px 125px;
	text-align: right;
	text-transform: uppercase;
	width: 80px;
}

.ah_from_data, .ah_status_data, .ah_category_data, .ah_question_data, .ah_answer_data, .ah_submission_data
{
	display: block;
	float: left;
	padding: 0px 0px 10px 0px;
	width: 660px;
}

.ah_action
{
	clear: left;
	display: block;
	float: left;
	margin: -50px 0px 0px 0px;
	position: relative;
	width: 66px;
}

.ah_action input
{
    width: 100px;
}

#ah_edit
{
	padding: 0px 0px 50px 0px;
}

#ah_edit_from, #ah_edit_status, #ah_edit_category, #ah_edit_question, #ah_edit_answer
{
	font-weight: bold;
	text-transform: uppercase;
	vertical-align: top;
}
.expandHead label:hover
{
	cursor:pointer;
	
}
.expandHead label
{
	font-weight:bold;
}
